<?xml version="1.0" encoding="UTF-8"?>
<!-- root element, all properties must be under this element -->
<jproject>

    <locale>
        <language>zh</language>
        <characterEncoding>utf-8</characterEncoding>
    </locale>
	<site>
		<name>iCRM</name>
	</site>
	<icrm>
	<!--	
		<record-server>http://192.168.1.134:8090/Record/</record-server>
	-->
		<record-server>http://10.10.10.110:8090/Record/</record-server>
	</icrm>
	<upload-file>
		<temp-path>D:/apache-tomcat-7.0.42/webapps/ROOT/temp_file/</temp-path>
		<url>/temp_file</url>
	</upload-file>
	
<!--
	<upload-file>
		<temp-path>/opt/tomcat-6/webapps/iCRM/temp_file/</temp-path>
		<url>/temp_file/</url>
	</upload-file>
-->
	 
	<security>
		<users>
			<operation_user>com.lohool.jproject.xwohi.operator.Security</operation_user>
			<end_user>com.lohool.jproject.xwohi.operator.Security</end_user>
			<sp_user>com.lohool.jproject.xwohi.operator.Security</sp_user>
		</users>
		<priviledge-scan></priviledge-scan>
		<priviledge>
			<operator></operator>
			<role></role>
			<resource>com.lohool.jproject.xwohi.operator.po.Resource</resource>
			<permission>com.lohool.jproject.xwohi.operator.po.Permission</permission>
			<datagroup>com.lohool.jproject.xwohi.operator.po.DataGroup</datagroup>
		</priviledge>
	</security>
	<!-- JProject Properties  -->
	<jdbc>
		<jdbc-driver-type>jdbc</jdbc-driver-type>
		<!--javax.sql.DataSource or DriverManager or connection pool-->
		<!-- Config developer environment database link-->
		<database>oracle</database>
		<driver>oracle.jdbc.OracleDriver</driver>
		<url>jdbc:oracle:thin:@localhost:1521:XE</url>
		<username>crm</username>
		<password>crm</password>
		
		<!-- Config User test environment database link-->
		<!--
		<database>oracle</database>
		<driver>oracle.jdbc.OracleDriver</driver>
		<url>jdbc:oracle:thin:@192.168.100.142:1521:icrm</url>
		<username>crm</username>
		<password>crm</password>
		-->
	</jdbc>
	<!--  End JProject  -->
</jproject>

