a:link {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9pt;
	color: #000000;
	text-decoration: none;
}
a:visited {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9pt;
	color: #000000;
	text-decoration: none;
}
a:hover {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9pt;
	color: #003399;
	text-decoration: underline;
}
.botton {
	font-size: 9pt;
	border: 1px solid #333333;
	background-color: #808080;
	color: #FFFFFF;
}
.input1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	background-color: #FFFFFF;
	border: 1px solid #666666;
	color: #000000;
	height: 17px;
}
.pt9-18 {	font-family: Arial, Helvetica, sans-serif;
	font-size: 9pt;
	line-height: 18px;
}.title-blank-b {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: bold;
	color: #000000;
	text-decoration: underline;
}
a.link:link {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9pt;
	color: #0000CC;
	text-decoration: none;
	line-height: 20px;
}
a.link:visited {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9pt;
	color: #0000CC;
	text-decoration: none;
	line-height: 20px;
}
a.link:hover {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9pt;
	color: #000000;
	text-decoration: underline;
	line-height: 20px;
}

body {
	margin-left: 0px;
	margin-top: 0px;
	background-color:white;
}

.paginate
{
  	font:		Icon;
	border:solid 1;	
	background:	Window;
	color:		WindowText;
	padding:0px;

}
A
{
	cursor:hand;
}
.input_table
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9pt;

}