.MODAL
{
	background-color:#333435;
	filter:alpha(opacity=5);
	opacity:0.05;
}

.BLUE
{
	position:absolute;
	border:1px #94DCFE solid;
	background-color:#B4E1FA;
	overflow:hidden;
	-webkit-border-radius: .3em; 
	-moz-border-radius: .3em;
	border-radius: .3em;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
}


/* 边框样式 */
.BLUE .LEFT_TOP
{
	/* 左上：请不要定义padding/margin/border/top/right/bottom/left属性 */
	width: 150px;
	height: 26px;
	/*
	background-image:url(../images/nokia/TOP.gif);
	background-repeat: no-repeat;
	*/
		background-color:#B4E1FA;

}
.BLUE .TOP
{
	/* 上边：请不要定义padding/margin/border/top/right/bottom/left属性 */
	height: 26px;
	/*
	background-image: url(../images/nokia/TOP.gif);
	background-repeat: repeat-x;
	*/
	background-color:#B4E1FA;
}
.BLUE .RIGHT_TOP
{
	/* 右上：请不要定义padding/margin/border/top/right/bottom/left属性 */
	width: 37px;
	height: 26px;
	/*
	background-image: url(../images/nokia/TOP.gif);
	background-repeat: no-repeat;
	*/
		background-color:#B4E1FA;

}
.BLUE .RIGHT
{
	/* 右边：请不要定义padding/margin/border/top/right/bottom/left属性 */
	width: 3px;
}
.BLUE .RIGHT_BOTTOM
{
	/* 右下：请不要定义padding/margin/border/top/right/bottom/left属性 */
	width: 12px;
	height: 12px;
	#background-image: url(../images/nokia/RIGHT_BOTTOM.png);
	background-repeat: no-repeat;
}
.BLUE .RIGHT_BOTTOM_BY_BUTTON
{
	/* 右下(有按钮时)：请不要定义padding/margin/border/top/right/bottom/left属性 */
	width: 12px;
	height: 12px;
	#background-image: url(../images/nokia/RIGHT_BOTTOM_BY_BUTTON.gif);
	#background-image: url(../images/nokia/RIGHT_BOTTOM.gif);
	background-repeat: no-repeat;
}
.BLUE .BOTTOM
{
	/* 下边：请不要定义padding/margin/border/top/right/bottom/left属性 */
	height: 3px;
}
.BLUE .BOTTOM_BY_BUTTON
{
	/* 下边(有按钮时)：请不要定义padding/margin/border/top/right/bottom/left属性 */
	height: 35px;
	#background-image: url(../images/nokia/BOTTOM_BY_BUTTON.gif);
	background-repeat: repeat-x;
}
.BLUE .LEFT_BOTTOM
{
	/* 左下：请不要定义padding/margin/border/top/right/bottom/left属性 */
	width: 12px;
	height: 12px;
}
.BLUE .LEFT_BOTTOM_BY_BUTTON
{
	/* 左下(有按钮时)：请不要定义padding/margin/border/top/right/bottom/left属性 */
	width: 12px;
	height: 12px;
	#background-image: url(../images/nokia/LEFT_BOTTOM_BY_BUTTON.gif);
	background-repeat: no-repeat;
}
.BLUE .LEFT
{
	/* 请不要定义padding/margin/border/top/right/bottom/left属性 */
	width: 3px;
}

/* 功能区样式 */
.BLUE .RESIZE /*BOTTOM-RIGHT*/
{
	width: 12px;
	height: 12px;
	right: 0px;
	bottom: 0px;
}

.BLUE .CLOSE
{
	width: 19px;
	height: 18px;
	right: 9px;
	top: 6px;
	cursor:default;
}

/* 逻辑区样式 */
.BLUE .CONTENT
{
	/* 请不要定义padding/margin属性 */
	/* 请定义left = -(border-left),top = -(border-top) */
	left: 0px;
	top: 0px;
	background-color:#ffffff;
	border:solid 0px red;
	padding:0px;
}
.BLUE .CONTENT .FORM
{
	margin: 0px;
	padding: 12px;
}
.BLUE .TITLE
{
	/* 请不要定义margin属性 */
	padding: 0px 3px 2px 3px;
	font-weight:bold;
	text-align: left;
	color: #ffffff;
	height: 22px;
	line-height: 22px;
	vertical-align:middle;
	/*overflow: hidden;*/
	/*
	border:solid 0 green;
	background-color:#F1C5A0 ;
	*/
}
.BLUE .TITLE.FOCUS
{
	background-color:#86B7FF;
}
.BLUE .TITLE .ICON
{
	width:20px;
	height:24px;
	padding:0px;
	margin-right:3px;
	empty-cells: show ;
	white-space: nowrap;
	background-repeat: no-repeat;
	color:blue;
	cursor:pointer;
	float:left;
	background:url(/images/png/user.png) no-repeat fixed center;
}
.BLUE .TITLE .TEXT
{
	margin-right:2px;
	line-height: 24px;
	empty-cells: show ;
	white-space: nowrap;
	background-repeat: no-repeat;
	display:inline-block; 
	color:#fff;
	cursor:pointer;
	float:left;
}

.BLUE .BUTTON
{
	/* 请不要定义margin属性 (暂不支持:width:100%;bottom:0px;) */
	padding: 1px 30px 1px 0px;
	margin:0px 0px 3px 0px;
	text-align:right;
}
.BLUE .BUTTON button
{
	width:59px;
	height:25px;
	border:0px;
	padding:0px;
	margin-left:2px;
	background-repeat:no-repeat;
	-webkit-border-radius: .3em; 
	-moz-border-radius: .3em;
	border-radius: .3em;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
	border: solid 1px #0076a3;
	background: #71D0F9;
	background: -webkit-gradient(linear, left top, left bottom, from(#00adee), to(#0078a5));
	background: -moz-linear-gradient(top,  #00adee,  #0078a5);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#00adee', endColorstr='#0078a5');
}
.BLUE .BUTTON .DISABLED
{
	filter:alpha(opacity=36);
	opacity:0.36;
}
.BLUE .BUTTON .DISABLED2
{
	display: none;
}

/* 各种按钮样式 */
.BLUE .BUTTON .BACK
{
	#background-image:url(../images/nokia/BACK.gif);
}
.BLUE .BUTTON .NEXT
{
	#background-image:url(../images/nokia/NEXT.gif);
}
.BLUE .BUTTON .OK
{
	#background-image:url(../images/nokia/OK.gif);
}
.BLUE .BUTTON .CANCEL
{
	#background-image:url(../images/nokia/CANCEL.gif);
}
.BLUE .BUTTON .HELP
{
	position:absolute;
	left:30px;
	top: 0px;
	#background-image:url(../images/nokia/HELP.gif);
}

.BLUE  .MIN
{
	position:absolute;
	text-align: center;
	width:20px;
	height:12px;
	/*background-image:url(../images/nokia/HELP.gif);*/
	font-family:webdings;
	color:white;
	text-align:middle;
	border: solid 1px white;
	padding:2px 2px;
	position:relative;
	float:right;
	margin:1px;
	vertical-align:top;
	vertical-align:middle;
	cursor:default;
	top:0px;
}
.BLUE .MIN:hover
{
	color:red;
	filter: progid:DXImageTransform.Microsoft.Gradient(gradientType=0,startColorstr='#f6f6f8',endColorstr='#0099FF'); /*IE*/ 
	background:-moz-linear-gradient(top,#b8c4cb,#f6f6f8);/*firefox*/ 
	background:-webkit-gradient(linear, 0% 0%, 0% 100%,from(#f6f6f8), to(#0099FF));/*chrome*/ 
	background:-ms-linear-gradient(top, #f6f6f8, #0099FF);
}
.BLUE  .MIN IMG
{

	width:20px;
	height:20px;

}

/*
.BLUE_MIN_BAR
{
	BACKGROUND-COLOR:#D0EFFD;
	border:outset 5px;
	border:inset 1px;
	border:solid #7CD2FC 1px;	
	BORDER-COLOR: threedhighlight threedshadow threedshadow threedhighlight ;
	empty-cells: show ;
    border-collapse: collaps;
	position:relative;
	padding:2px;
	border-spacing: 2;
	vertical-align:middle;
	white-space: nowrap;
	text-align: center;
	display:inline-block; 
	line-height: 20px;
	position:relative;
	min-width:60px;
	overflow:hidden;
	white-space:nowrap; 
	text-overflow:ellipsis;
    height:20px;
	padding:  2px 5px 2px 5px;
}
.BLUE_MIN_BAR_FOCUS
{
	BACKGROUND-COLOR:#71D0F9;
	border:outset 5px;
	border:inset 1px;
	border:solid #7CD2FC 1px;	
	BORDER-COLOR:  threedshadow threedshadow threedhighlight threedhighlight;
	empty-cells: show ;
    border-collapse: collaps;
	position:relative;
	padding:2px;
	border-spacing: 2;
	vertical-align:middle;
	white-space: nowrap;
	text-align: center;
	display:inline-block; 
	line-height: 20px;
	position:relative;
	min-width:60px;
    height:20px;
	padding:  2px 5px 2px 5px;

}
*/
.BLUE_MIN_BAR
{
	position:relative;
	display: inline-block;
	zoom: 1; /* zoom and *display = ie7 hack for display:inline-block */
	*display: inline;
	vertical-align: baseline;
	margin: 0 0px;
	outline: none;
	cursor: default;
	text-align: left;
	text-decoration: none;
	padding: 2px 2px 0px 4px;
	text-shadow: 0 1px 1px rgba(0,0,0,.3);
	-webkit-border-radius: .3em; 
	-moz-border-radius: .3em;
	border-radius: .3em;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
	border: solid 1px #b7b7b7;
	background: #C9E7FC;
	background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#66CCCC));
	background: -moz-linear-gradient(top,  #fff,  #ededed);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#66CCCC');
	background:-ms-linear-gradient(top, #ffffff, #66CCCC);
	min-width:100px;
	}
.BLUE_MIN_BAR_FOCUS
{
	position:relative;
	BACKGROUND-COLOR:#71D0F9;
	display: inline-block;
	zoom: 1; /* zoom and *display = ie7 hack for display:inline-block */
	*display: inline;
	vertical-align: baseline;
	margin: 0 0px;
	outline: none;
	cursor: default;
	text-align: left;
	text-decoration: none;

	padding: 2px 2px 0px 4px;
	text-shadow: 0 1px 1px rgba(0,0,0,.3);
	-webkit-border-radius: .3em; 
	-moz-border-radius: .3em;
	border-radius: .3em;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
	border: solid 1px #0076a3;
	background: #71D0F9;
	background: -webkit-gradient(linear, left top, left bottom, from(#C9EDED), to(#0066FF));
	background: -moz-linear-gradient(top,  #00adee,  #0078a5);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#C9EDED', endColorstr='#0066FF');
	background:-ms-linear-gradient(top, #C9EDED, #0066FF);

	#background:-moz-radial-gradient(red 5%,yellow 25%,#1E90FF 50%);
	#background:-ms-linear-gradient(-30deg, #D6DAFE 5%, #869ED7,#9193F9);

	min-width:100px;
}
.BLUE_MIN_BAR:hover,
.BLUE_MIN_BAR_FOCUS:hover
{
	color:#FF0000;
	background: #71D0F9;
	background: -webkit-gradient(linear, left top, left bottom, from(#CCFFFF), to(#3399FF));
	background: -moz-linear-gradient(top,  #00adee,  #0078a5);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#CCFFFF', endColorstr='#3399FF');
	background:-ms-linear-gradient(top, #CCFFFF, #3399FF);

	#background:-moz-radial-gradient(red 5%,yellow 25%,#1E90FF 50%);
	#background:-ms-linear-gradient(-30deg, #D6DAFE 5%, #869ED7,#9193F9);
}
.BLUE_MIN_BAR_FOCUS .ICON,
.BLUE_MIN_BAR .ICON
{
	width:16px;
	height:16px;
	padding:0px;
	margin-right:3px;
	empty-cells: show ;
	white-space: nowrap;
	background-repeat: no-repeat;
	color:blue;
	cursor:default;
	float:left;
}
.BLUE_MIN_BAR_FOCUS .TITLE,
.BLUE_MIN_BAR .TITLE
{
	padding:4 0;
	margin-right:2px;
	empty-cells: show ;
	white-space: nowrap;
	background-repeat: no-repeat;
	display:inline-block; 
	line-height: 20px;
	color:#fff;
	/*font-family:webdings;*/
	cursor:default;
	float:left;
}
.BLUE_MIN_BAR_FOCUS .CLOSE,
.BLUE_MIN_BAR .CLOSE
{
	position:relative;
	width:12px;
	height:12px;
	padding:0px;
	empty-cells: show ;
	white-space: nowrap;
	background-repeat: no-repeat;
	font-size:10px;
	color:#ccc;
	/*font-family:webdings;*/
	cursor:default;
	text-align:center;
	float:right;
	top:0px;
}

.BLUE_MIN_BAR_FOCUS .CLOSE:hover,
.BLUE_MIN_BAR .CLOSE:hover
{
	position:relative;
	color:red;
}

/* ---- BLUE 样式 ---- */

 


