  .MODAL
{
	background-color:#333435;
	filter:alpha(opacity=5);
	opacity:0.05;
}
/* ---- VISTA 样式 ---- */
.VISTA
{
	font-size: 1px;
}

/* 边框样式 */
.VISTA .LEFT_TOP
{
	/* 左上：请不要定义padding/margin/border/top/right/bottom/left属性 */
	width: 15px;
	height: 35px;
	background-image:url(../images/VISTA/LEFT_TOP.png);
	background-repeat: no-repeat;
}
.VISTA .TOP
{
	/* 上边：请不要定义padding/margin/border/top/right/bottom/left属性 */
	height: 36px;
	background-image: url(../images/VISTA/TOP.png);
	background-repeat: repeat-x;
}
.VISTA .RIGHT_TOP
{
	/* 右上：请不要定义padding/margin/border/top/right/bottom/left属性 */
	width: 15px;
	height: 35px;
	background-image: url(../images/VISTA/RIGHT_TOP.png);
	background-repeat: no-repeat;
}
.VISTA .RIGHT
{
	/* 右边：请不要定义padding/margin/border/top/right/bottom/left属性 */
	width: 16px;
	background-image: url(../images/VISTA/RIGHT.png);
	background-repeat: repeat-y;
}
.VISTA .RIGHT_BOTTOM
{
	/* 右下：请不要定义padding/margin/border/top/right/bottom/left属性 */
	width: 16px;
	height: 15px;
	background-image: url(../images/VISTA/RIGHT_BOTTOM.png);
	background-repeat: no-repeat;
}
.VISTA .RIGHT_BOTTOM_BY_BUTTON
{
	/* 右下(有按钮时)：请不要定义padding/margin/border/top/right/bottom/left属性 */
	width: 16px;
	height: 15px;
	background-image: url(../images/VISTA/RIGHT_BOTTOM.png);
	background-repeat: no-repeat;
}
.VISTA .BOTTOM
{
	/* 下边：请不要定义padding/margin/border/top/right/bottom/left属性 */
	height: 16px;
	background-image: url(../images/VISTA/BOTTOM.png);
	background-repeat: repeat-x;
}
.VISTA .BOTTOM_BY_BUTTON
{
	/* 下边(有按钮时)：请不要定义padding/margin/border/top/right/bottom/left属性 */
	height: 56px;
	background-image: url(../images/VISTA/BOTTOM_BY_BUTTON.png);
	background-repeat: repeat-x;
}
.VISTA .LEFT_BOTTOM
{
	/* 左下：请不要定义padding/margin/border/top/right/bottom/left属性 */
	width: 15px;
	height: 15px;
	background-image: url(../images/VISTA/LEFT_BOTTOM.png);
	background-repeat: no-repeat;
}
.VISTA .LEFT_BOTTOM_BY_BUTTON
{
	/* 左下(有按钮时)：请不要定义padding/margin/border/top/right/bottom/left属性 */
	width: 15px;
	height: 15px;
	background-image: url(../images/VISTA/LEFT_BOTTOM.png);
	background-repeat: no-repeat;
}
.VISTA .LEFT
{
	/* 请不要定义padding/margin/border/top/right/bottom/left属性 */
	width: 16px;
	background-image: url(../images/VISTA/LEFT.png);
	background-repeat: repeat-y;
}

/* 功能区样式 */
.VISTA .RESIZE
{
	width: 8px;
	height: 8px;
	right: 8px;
	bottom: 8px;
}
.VISTA .CLOSE
{
    width: 42px;
    height: 17px;
    right: 15px;
    top: 8px;
    background-image:url(../images/vista/CLOSE.gif);
	cursor:default;
}

/* 逻辑区样式 */
.VISTA .CONTENT
{
	/* 请不要定义padding/margin属性 */
	/* 请定义left = -(border-left),top = -(border-top) */
	left: 0px;
	top: 0px;
    background-color:#f7f7f7;
    filter:alpha(opacity=95);
    opacity:0.95;
}
.VISTA .CONTENT .FORM
{
	font-size: 14px;
	margin: 0px;
	padding: 12px;
}
.VISTA .TITLE
{
	/* 请不要定义margin属性 */
    padding:15px 60px 0px 16px;
    font-size:12px;
    height: 15px;
    line-height: 15px;
    overflow: hidden;
}
.VISTA .TITLE span
{
	padding:2px 3px 0px 3px;
	background-image:url(../images/vista/TITLE_BK.png);
}
.VISTA .BUTTON
{
	/* 请不要定义margin属性 (暂不支持:width:100%;bottom:0px;) */
	padding: 0px 20px 28px 0px;
	text-align:right;
}
.VISTA .BUTTON button
{
	width:87px;
	height:28px;
	border:0px;
	padding:0px;
	margin:0px 7px 0px 7px;
	background-color: transparent;
	background-repeat:no-repeat;
}
.VISTA .BUTTON .DISABLED
{
	filter:alpha(opacity=36);
	opacity:0.36;
}

/* 各种按钮样式 */
.VISTA .BUTTON .OK
{
	background-image:url(../images/vista/OK.gif);
}
.VISTA .BUTTON .CANCEL
{
	background-image:url(../images/vista/CANCEL.gif);
}
/* ---- VISTA 样式 ---- */


/* ---- NOKIA 样式 ---- */
.NOKIA
{
	font-size: 1px;
}

/* 边框样式 */
.NOKIA .LEFT_TOP
{
	/* 左上：请不要定义padding/margin/border/top/right/bottom/left属性 */
	width: 150px;
	height: 42px;
	background-image:url(../images/nokia/LEFT_TOP.gif);
	background-repeat: no-repeat;
}
.NOKIA .TOP
{
	/* 上边：请不要定义padding/margin/border/top/right/bottom/left属性 */
	height: 42px;
	background-image: url(../images/nokia/TOP.gif);
	background-repeat: repeat-x;
}
.NOKIA .RIGHT_TOP
{
	/* 右上：请不要定义padding/margin/border/top/right/bottom/left属性 */
	width: 37px;
	height: 42px;
	background-image: url(../images/nokia/RIGHT_TOP.gif);
	background-repeat: no-repeat;
}
.NOKIA .RIGHT
{
	/* 右边：请不要定义padding/margin/border/top/right/bottom/left属性 */
	width: 12px;
	background-image: url(../images/nokia/RIGHT.gif);
	background-repeat: repeat-y;
}
.NOKIA .RIGHT_BOTTOM
{
	/* 右下：请不要定义padding/margin/border/top/right/bottom/left属性 */
	width: 12px;
	height: 12px;
	background-image: url(../images/nokia/RIGHT_BOTTOM.gif);
	background-repeat: no-repeat;
}
.NOKIA .RIGHT_BOTTOM_BY_BUTTON
{
	/* 右下(有按钮时)：请不要定义padding/margin/border/top/right/bottom/left属性 */
	width: 12px;
	height: 53px;
	background-image: url(../images/nokia/RIGHT_BOTTOM_BY_BUTTON.gif);
	background-repeat: no-repeat;
}
.NOKIA .BOTTOM
{
	/* 下边：请不要定义padding/margin/border/top/right/bottom/left属性 */
	height: 12px;
	background-image: url(../images/nokia/BOTTOM.gif);
	background-repeat: repeat-x;
}
.NOKIA .BOTTOM_BY_BUTTON
{
	/* 下边(有按钮时)：请不要定义padding/margin/border/top/right/bottom/left属性 */
	height: 53px;
	background-image: url(../images/nokia/BOTTOM_BY_BUTTON.gif);
	background-repeat: repeat-x;
}
.NOKIA .LEFT_BOTTOM
{
	/* 左下：请不要定义padding/margin/border/top/right/bottom/left属性 */
	width: 12px;
	height: 12px;
	background-image: url(../images/nokia/LEFT_BOTTOM.gif);
	background-repeat: no-repeat;
}
.NOKIA .LEFT_BOTTOM_BY_BUTTON
{
	/* 左下(有按钮时)：请不要定义padding/margin/border/top/right/bottom/left属性 */
	width: 12px;
	height: 53px;
	background-image: url(../images/nokia/LEFT_BOTTOM_BY_BUTTON.gif);
	background-repeat: no-repeat;
}
.NOKIA .LEFT
{
	/* 请不要定义padding/margin/border/top/right/bottom/left属性 */
	width: 12px;
	background-image: url(../images/nokia/LEFT.gif);
	background-repeat: repeat-y;
}

/* 功能区样式 */
.NOKIA .RESIZE
{
	width: 12px;
	height: 12px;
	right: 0px;
	bottom: 0px;
}
.NOKIA .CLOSE
{
	width: 19px;
	height: 18px;
	right: 9px;
	top: 6px;
	cursor:default;
}

/* 逻辑区样式 */
.NOKIA .CONTENT
{
	/* 请不要定义padding/margin属性 */
	/* 请定义left = -(border-left),top = -(border-top) */
	left: 0px;
	top: 0px;
	background-color:#ffffff;
}
.NOKIA .CONTENT .FORM
{
	font-size: 14px;
	margin: 0px;
	padding: 12px;
}
.NOKIA .TITLE
{
	/* 请不要定义margin属性 */
	padding:8px 30px 0px 12px;
	font-size:14px;
	font-weight:bold;
	text-align: left;
	color: #ffffff;
	height: 16px;
	line-height: 16px;
	overflow: hidden;
}
.NOKIA .BUTTON
{
	/* 请不要定义margin属性 (暂不支持:width:100%;bottom:0px;) */
	padding: 0px 30px 5px 0px;
	text-align:right;
}
.NOKIA .BUTTON button
{
	width:59px;
	height:43px;
	border:0px;
	padding:0px;
	background-repeat:no-repeat;
}
.NOKIA .BUTTON .DISABLED
{
	filter:alpha(opacity=36);
	opacity:0.36;
}
.NOKIA .BUTTON .DISABLED2
{
	display: none;
}

/* 各种按钮样式 */
.NOKIA .BUTTON .BACK
{
	background-image:url(../images/nokia/BACK.gif);
}
.NOKIA .BUTTON .NEXT
{
	background-image:url(../images/nokia/NEXT.gif);
}
.NOKIA .BUTTON .OK
{
	background-image:url(../images/nokia/OK.gif);
}
.NOKIA .BUTTON .CANCEL
{
	background-image:url(../images/nokia/CANCEL.gif);
}
.NOKIA .BUTTON .HELP
{
	position:absolute;
	left:30px;
	top: 0px;
	background-image:url(../images/nokia/HELP.gif);
}
/* ---- NOKIA 样式 ---- */

/* ---- CABAL 样式 ---- */
.CABAL
{
	font-size: 1px;
}

/* 边框样式 */
.CABAL .LEFT_TOP
{
	/* 左上：请不要定义padding/margin/border/top/right/bottom/left属性 */
	width: 36px;
	height: 35px;
	background-image:url(../images/CABAL/LEFT_TOP.gif);
	background-repeat: no-repeat;
}
.CABAL .TOP
{
	/* 上边：请不要定义padding/margin/border/top/right/bottom/left属性 */
	height: 35px;
	background-image: url(../images/CABAL/TOP.gif);
	background-repeat: repeat-x;
}
.CABAL .RIGHT_TOP
{
	/* 右上：请不要定义padding/margin/border/top/right/bottom/left属性 */
	width: 36px;
	height: 35px;
	background-image: url(../images/CABAL/RIGHT_TOP.gif);
	background-repeat: no-repeat;
}
.CABAL .RIGHT
{
	/* 右边：请不要定义padding/margin/border/top/right/bottom/left属性 */
	width: 12px;
	background-image: url(../images/CABAL/RIGHT.gif);
	background-repeat: repeat-y;
}
.CABAL .RIGHT_BOTTOM
{
	/* 右下：请不要定义padding/margin/border/top/right/bottom/left属性 */
	width: 12px;
	height: 13px;
	background-image: url(../images/CABAL/RIGHT_BOTTOM.gif);
	background-repeat: no-repeat;
}
.CABAL .RIGHT_BOTTOM_BY_BUTTON
{
	/* 右下(有按钮时)：请不要定义padding/margin/border/top/right/bottom/left属性 */
	width: 12px;
	height: 41px;
	background-image: url(../images/CABAL/RIGHT_BOTTOM_BY_BUTTON.gif);
	background-repeat: no-repeat;
}
.CABAL .BOTTOM
{
	/* 下边：请不要定义padding/margin/border/top/right/bottom/left属性 */
	height: 13px;
	background-image: url(../images/CABAL/BOTTOM.gif);
	background-repeat: repeat-x;
}
.CABAL .BOTTOM_BY_BUTTON
{
	/* 下边(有按钮时)：请不要定义padding/margin/border/top/right/bottom/left属性 */
	height: 41px;
	background-image: url(../images/CABAL/BOTTOM_BY_BUTTON.gif);
	background-repeat: repeat-x;
}
.CABAL .LEFT_BOTTOM
{
	/* 左下：请不要定义padding/margin/border/top/right/bottom/left属性 */
	width: 12px;
	height: 13px;
	background-image: url(../images/CABAL/LEFT_BOTTOM.gif);
	background-repeat: no-repeat;
}
.CABAL .LEFT_BOTTOM_BY_BUTTON
{
	/* 左下(有按钮时)：请不要定义padding/margin/border/top/right/bottom/left属性 */
	width: 12px;
	height: 41px;
	background-image: url(../images/CABAL/LEFT_BOTTOM_BY_BUTTON.gif);
	background-repeat: no-repeat;
}
.CABAL .LEFT
{
	/* 请不要定义padding/margin/border/top/right/bottom/left属性 */
	width: 12px;
	background-image: url(../images/CABAL/LEFT.gif);
	background-repeat: repeat-y;
}

/* 功能区样式 */
.CABAL .RESIZE
{
	width: 12px;
	height: 12px;
	right: 0px;
	bottom: 0px;
}
.CABAL .CLOSE
{
	width: 10px;
	height: 9px;
	right: 13px;
	top: 8px;
	cursor:default;
}

/* 逻辑区样式 */
.CABAL .CONTENT
{
	/* 请不要定义padding/margin属性 */
	/* 请定义left = -(border-left),top = -(border-top) */
	left: 0px;
	top: 0px;
	background-color:#000000;
	color: #cccccc;
}
.CABAL .CONTENT a
{
	color: #cccc00;
}
.CABAL .CONTENT .FORM
{
	font-size: 14px;
	margin: 0px;
	padding: 12px;
}
.CABAL .TITLE
{
	/* 请不要定义margin属性 */
	padding:6px 36px 0px 36px;
	font-size:14px;
	font-weight:bold;
	text-align: center;
	color: #cccccc;
	height: 16px;
	line-height: 16px;
	overflow: hidden;
}
.CABAL .BUTTON
{
	/* 请不要定义margin属性 (暂不支持:width:100%;bottom:0px;) */
	padding: 0px 0px 8px 0px;
	text-align:center;
}
.CABAL .BUTTON button
{
	width:98px;
	height:24px;
	border:0px;
	padding:0px;
	background-repeat:no-repeat;
	margin: 0px 5px 0px 5px;
}
.CABAL .BUTTON .DISABLED
{
	filter:alpha(opacity=36);
	opacity:0.36;
}

/* 各种按钮样式 */
.CABAL .BUTTON .OK
{
	background-image:url(../images/cabal/OK.gif);
}
.CABAL .BUTTON .CANCEL
{
	background-image:url(../images/cabal/CANCEL.gif);
}
/* ---- CABAL 样式 ---- */

/* ---- SWORD 样式 ---- */
.SWORD
{
	font-size: 1px;
}

/* 边框样式 */
.SWORD .LEFT_TOP
{
	/* 左上：请不要定义padding/margin/border/top/right/bottom/left属性 */
	width: 55px;
	height: 70px;
	background-image:url(../images/SWORD/LEFT_TOP.gif);
	background-repeat: no-repeat;
}
.SWORD .TOP
{
	/* 上边：请不要定义padding/margin/border/top/right/bottom/left属性 */
	height: 33px;
	background-image: url(../images/SWORD/TOP.gif);
	background-repeat: repeat-x;
}
.SWORD .RIGHT_TOP
{
	/* 右上：请不要定义padding/margin/border/top/right/bottom/left属性 */
	width: 55px;
	height: 70px;
	background-image: url(../images/SWORD/RIGHT_TOP.gif);
	background-repeat: no-repeat;
}
.SWORD .RIGHT
{
	/* 右边：请不要定义padding/margin/border/top/right/bottom/left属性 */
	width: 8px;
	background-image: url(../images/SWORD/RIGHT.gif);
	background-repeat: repeat-y;
}
.SWORD .RIGHT_BOTTOM
{
	/* 右下：请不要定义padding/margin/border/top/right/bottom/left属性 */
	width: 28px;
	height: 33px;
	background-image: url(../images/SWORD/RIGHT_BOTTOM.gif);
	background-repeat: no-repeat;
}
.SWORD .RIGHT_BOTTOM_BY_BUTTON
{
	/* 右下(有按钮时)：请不要定义padding/margin/border/top/right/bottom/left属性 */
	width: 55px;
	height: 79px;
	background-image: url(../images/SWORD/RIGHT_BOTTOM_BY_BUTTON.gif);
	background-repeat: no-repeat;
}
.SWORD .BOTTOM
{
	/* 下边：请不要定义padding/margin/border/top/right/bottom/left属性 */
	height: 16px;
	background-image: url(../images/SWORD/BOTTOM.gif);
	background-repeat: repeat-x;
}
.SWORD .BOTTOM_BY_BUTTON
{
	/* 下边(有按钮时)：请不要定义padding/margin/border/top/right/bottom/left属性 */
	height: 41px;
	background-image: url(../images/SWORD/BOTTOM_BY_BUTTON.gif);
	background-repeat: repeat-x;
}
.SWORD .LEFT_BOTTOM
{
	/* 左下：请不要定义padding/margin/border/top/right/bottom/left属性 */
	width: 28px;
	height: 33px;
	background-image: url(../images/SWORD/LEFT_BOTTOM.gif);
	background-repeat: no-repeat;
}
.SWORD .LEFT_BOTTOM_BY_BUTTON
{
	/* 左下(有按钮时)：请不要定义padding/margin/border/top/right/bottom/left属性 */
	width: 55px;
	height: 79px;
	background-image: url(../images/SWORD/LEFT_BOTTOM_BY_BUTTON.gif);
	background-repeat: no-repeat;
}
.SWORD .LEFT
{
	/* 请不要定义padding/margin/border/top/right/bottom/left属性 */
	width: 8px;
	background-image: url(../images/SWORD/LEFT.gif);
	background-repeat: repeat-y;
}

/* 功能区样式 */
.SWORD .RESIZE
{
	width: 19px;
	height: 27px;
	right: 0px;
	bottom: 0px;
}
.SWORD .CLOSE
{
	width: 12px;
	height: 11px;
	right: 10px;
	top: 10px;
	cursor:default;
}

/* 逻辑区样式 */
.SWORD .CONTENT
{
	/* 请不要定义padding/margin属性 */
	/* 请定义left = -(border-left),top = -(border-top) */
	left: 0px;
	top: 0px;
	background-color:#344042;
    color: #cccccc;
}
.SWORD .CONTENT a
{
    color: #00ff00;
    text-decoration: none;
}
.SWORD .CONTENT .FORM
{
	font-size: 14px;
	margin: 0px;
	padding: 12px;
}
.SWORD .TITLE
{
	/* 请不要定义margin属性 */
	padding:8px 30px 0px 30px;
	font-size:14px;
	text-align: center;
	color: #ffff00;
	height: 16px;
	line-height: 16px;
	overflow: hidden;
}
.SWORD .BUTTON
{
	/* 请不要定义margin属性 (暂不支持:width:100%;bottom:0px;) */
	padding: 0px 0px 12px 0px;
	text-align:center;
}
.SWORD .BUTTON button
{
	width:55px;
	height:22px;
	border:0px;
	padding:0px;
	background-color: transparent;
	background-repeat:no-repeat;
	margin: 0px 5px 0px 5px;
}
.SWORD .BUTTON .DISABLED
{
	filter:alpha(opacity=36);
	opacity:0.36;
}

/* 各种按钮样式 */
.SWORD .BUTTON .OK
{
	background-image:url(../images/sword/OK.gif);
}
.SWORD .BUTTON .CANCEL
{
	background-image:url(../images/sword/CANCEL.gif);
}
/* ---- SWORD 样式 ---- */











/* ---- ORANGE 样式 ---- */
.ORANGE
{
	font-size: 1px;
	border:1px #EBA329 solid;
}


/* 边框样式 */
.ORANGE .LEFT_TOP
{
	/* 左上：请不要定义padding/margin/border/top/right/bottom/left属性 */
	width: 150px;
	height: 28px;
	/*
	background-image:url(../images/nokia/TOP.gif);
	background-repeat: no-repeat;
	*/
		background-color:#D08011;

}
.ORANGE .TOP
{
	/* 上边：请不要定义padding/margin/border/top/right/bottom/left属性 */
	height: 28px;
	/*
	background-image: url(../images/nokia/TOP.gif);
	background-repeat: repeat-x;
	*/
	background-color:#D08011;
}
.ORANGE .RIGHT_TOP
{
	/* 右上：请不要定义padding/margin/border/top/right/bottom/left属性 */
	width: 37px;
	height: 28px;
	/*
	background-image: url(../images/nokia/TOP.gif);
	background-repeat: no-repeat;
	*/
		background-color:#D08011;

}
.ORANGE .RIGHT
{
	/* 右边：请不要定义padding/margin/border/top/right/bottom/left属性 */
	width: 3px;
}
.ORANGE .RIGHT_BOTTOM
{
	/* 右下：请不要定义padding/margin/border/top/right/bottom/left属性 */
	width: 12px;
	height: 12px;
	background-image: url(../images/nokia/RIGHT_BOTTOM.gif);
	background-repeat: no-repeat;
}
.ORANGE .RIGHT_BOTTOM_BY_BUTTON
{
	/* 右下(有按钮时)：请不要定义padding/margin/border/top/right/bottom/left属性 */
	width: 12px;
	height: 53px;
	background-image: url(../images/nokia/RIGHT_BOTTOM_BY_BUTTON.gif);
	background-repeat: no-repeat;
}
.ORANGE .BOTTOM
{
	/* 下边：请不要定义padding/margin/border/top/right/bottom/left属性 */
	height: 3px;
}
.ORANGE .BOTTOM_BY_BUTTON
{
	/* 下边(有按钮时)：请不要定义padding/margin/border/top/right/bottom/left属性 */
	height: 53px;
	background-image: url(../images/nokia/BOTTOM_BY_BUTTON.gif);
	background-repeat: repeat-x;
}
.ORANGE .LEFT_BOTTOM
{
	/* 左下：请不要定义padding/margin/border/top/right/bottom/left属性 */
	width: 12px;
	height: 12px;
}
.ORANGE .LEFT_BOTTOM_BY_BUTTON
{
	/* 左下(有按钮时)：请不要定义padding/margin/border/top/right/bottom/left属性 */
	width: 12px;
	height: 53px;
	background-image: url(../images/nokia/LEFT_BOTTOM_BY_BUTTON.gif);
	background-repeat: no-repeat;
}
.ORANGE .LEFT
{
	/* 请不要定义padding/margin/border/top/right/bottom/left属性 */
	width: 1px;
}

/* 功能区样式 */
.ORANGE .RESIZE
{
	width: 12px;
	height: 12px;
	right: 0px;
	bottom: 0px;
}
.ORANGE .CLOSE
{
	width: 19px;
	height: 18px;
	right: 9px;
	top: 6px;
	cursor:default;
}

/* 逻辑区样式 */
.ORANGE .CONTENT
{
	/* 请不要定义padding/margin属性 */
	/* 请定义left = -(border-left),top = -(border-top) */
	left: 0px;
	top: 0px;
	background-color:#ffffff;
}
.ORANGE .CONTENT .FORM
{
	font-size: 14px;
	margin: 0px;
	padding: 12px;
}
.ORANGE .TITLE
{
	/* 请不要定义margin属性 */
	padding:8px 0px 2px 12px;
	font-size:14px;
	font-weight:bold;
	text-align: left;
	color: #ffffff;
	height: 28px;
	line-height: 16px;
	/*overflow: hidden;*/
	/*
	border:solid 0 green;
	background-color:#F1C5A0 ;
	*/
}
.ORANGE .BUTTON
{
	/* 请不要定义margin属性 (暂不支持:width:100%;bottom:0px;) */
	padding: 0px 30px 5px 0px;
	text-align:right;
}
.ORANGE .BUTTON button
{
	width:59px;
	height:43px;
	border:0px;
	padding:0px;
	background-repeat:no-repeat;
}
.ORANGE .BUTTON .DISABLED
{
	filter:alpha(opacity=36);
	opacity:0.36;
}
.ORANGE .BUTTON .DISABLED2
{
	display: none;
}

/* 各种按钮样式 */
.ORANGE .BUTTON .BACK
{
	background-image:url(../images/nokia/BACK.gif);
}
.ORANGE .BUTTON .NEXT
{
	background-image:url(../images/nokia/NEXT.gif);
}
.ORANGE .BUTTON .OK
{
	background-image:url(../images/nokia/OK.gif);
}
.ORANGE .BUTTON .CANCEL
{
	background-image:url(../images/nokia/CANCEL.gif);
}
.ORANGE .BUTTON .HELP
{
	position:absolute;
	left:30px;
	top: 0px;
	background-image:url(../images/nokia/HELP.gif);
}

.ORANGE  .MIN
{
	position:absolute;
	text-align: center;
	width:20px;
	height:20px;
	/*background-image:url(../images/nokia/HELP.gif);*/
	font-family:webdings;
	font-size: 10px;
	color:white;
	border: solid 1px white;
	position:relative;
	float:right;
	padding:2px;
	margin:1px;
	cursor:hand;
	vertical-align:top;
	vertical-align:middle;

}
.ORANGE_MIN_BAR
{
	BACKGROUND-COLOR:#D08011;
	border:outset 5px;
	border:inset 1px;
	border:solid #7CD2FC 1px;	
	BORDER-COLOR: threedhighlight threedshadow threedshadow threedhighlight ;
	empty-cells: show ;
    border-collapse: collaps;
	position:relative;
	padding:2px;
	border-spacing: 2;
	vertical-align:middle;
	white-space: nowrap;
	text-align: center;

    height:20px;
	width:60px;
}

/* ---- ORANGE 样式 ---- */


.BLUE
{
	border:1px #94DCFE solid;
	background-color:#B4E1FA;
	overflow:hidden;
}


/* 边框样式 */
.BLUE .LEFT_TOP
{
	/* 左上：请不要定义padding/margin/border/top/right/bottom/left属性 */
	width: 150px;
	height: 28px;
	/*
	background-image:url(../images/nokia/TOP.gif);
	background-repeat: no-repeat;
	*/
		background-color:#B4E1FA;

}
.BLUE .TOP
{
	/* 上边：请不要定义padding/margin/border/top/right/bottom/left属性 */
	height: 28px;
	/*
	background-image: url(../images/nokia/TOP.gif);
	background-repeat: repeat-x;
	*/
	background-color:#B4E1FA;
}
.BLUE .RIGHT_TOP
{
	/* 右上：请不要定义padding/margin/border/top/right/bottom/left属性 */
	width: 37px;
	height: 28px;
	/*
	background-image: url(../images/nokia/TOP.gif);
	background-repeat: no-repeat;
	*/
		background-color:#B4E1FA;

}
.BLUE .RIGHT
{
	/* 右边：请不要定义padding/margin/border/top/right/bottom/left属性 */
	width: 3px;
}
.BLUE .RIGHT_BOTTOM
{
	/* 右下：请不要定义padding/margin/border/top/right/bottom/left属性 */
	width: 12px;
	height: 12px;
	background-image: url(../images/nokia/RIGHT_BOTTOM.gif);
	background-repeat: no-repeat;
}
.BLUE .RIGHT_BOTTOM_BY_BUTTON
{
	/* 右下(有按钮时)：请不要定义padding/margin/border/top/right/bottom/left属性 */
	width: 12px;
	height: 53px;
	background-image: url(../images/nokia/RIGHT_BOTTOM_BY_BUTTON.gif);
	background-repeat: no-repeat;
}
.BLUE .BOTTOM
{
	/* 下边：请不要定义padding/margin/border/top/right/bottom/left属性 */
	height: 3px;
}
.BLUE .BOTTOM_BY_BUTTON
{
	/* 下边(有按钮时)：请不要定义padding/margin/border/top/right/bottom/left属性 */
	height: 53px;
	background-image: url(../images/nokia/BOTTOM_BY_BUTTON.gif);
	background-repeat: repeat-x;
}
.BLUE .LEFT_BOTTOM
{
	/* 左下：请不要定义padding/margin/border/top/right/bottom/left属性 */
	width: 12px;
	height: 12px;
}
.BLUE .LEFT_BOTTOM_BY_BUTTON
{
	/* 左下(有按钮时)：请不要定义padding/margin/border/top/right/bottom/left属性 */
	width: 12px;
	height: 53px;
	background-image: url(../images/nokia/LEFT_BOTTOM_BY_BUTTON.gif);
	background-repeat: no-repeat;
}
.BLUE .LEFT
{
	/* 请不要定义padding/margin/border/top/right/bottom/left属性 */
	width: 1px;
}

/* 功能区样式 */
.BLUE .RESIZE
{
	width: 12px;
	height: 12px;
	right: 0px;
	bottom: 0px;
}
.BLUE .CLOSE
{
	width: 19px;
	height: 18px;
	right: 9px;
	top: 6px;
	cursor:default;
}

/* 逻辑区样式 */
.BLUE .CONTENT
{
	/* 请不要定义padding/margin属性 */
	/* 请定义left = -(border-left),top = -(border-top) */
	font-size: 12px;
	left: 1px;
	top: 0px;
	background-color:#ffffff;
	border:solid 0px red;
}
.BLUE .CONTENT .FORM
{
	margin: 0px;
	padding: 12px;
}
.BLUE .TITLE
{
	/* 请不要定义margin属性 */
	padding:8px 0px 2px 12px;
	font-size:14px;
	font-weight:bold;
	text-align: left;
	color: #ffffff;
	height: 28px;
	line-height: 16px;
	/*overflow: hidden;*/
	/*
	border:solid 0 green;
	background-color:#F1C5A0 ;
	*/
}
.BLUE .BUTTON
{
	/* 请不要定义margin属性 (暂不支持:width:100%;bottom:0px;) */
	padding: 0px 30px 5px 0px;
	text-align:right;
}
.BLUE .BUTTON button
{
	width:59px;
	height:43px;
	border:0px;
	padding:0px;
	background-repeat:no-repeat;
}
.BLUE .BUTTON .DISABLED
{
	filter:alpha(opacity=36);
	opacity:0.36;
}
.BLUE .BUTTON .DISABLED2
{
	display: none;
}

/* 各种按钮样式 */
.BLUE .BUTTON .BACK
{
	background-image:url(../images/nokia/BACK.gif);
}
.BLUE .BUTTON .NEXT
{
	background-image:url(../images/nokia/NEXT.gif);
}
.BLUE .BUTTON .OK
{
	background-image:url(../images/nokia/OK.gif);
}
.BLUE .BUTTON .CANCEL
{
	background-image:url(../images/nokia/CANCEL.gif);
}
.BLUE .BUTTON .HELP
{
	position:absolute;
	left:30px;
	top: 0px;
	background-image:url(../images/nokia/HELP.gif);
}

.BLUE  .MIN
{
	position:absolute;
	text-align: center;
	width:20px;
	height:20px;
	/*background-image:url(../images/nokia/HELP.gif);*/
	font-family:webdings;
	font-size: 10px;
	color:white;
/*
	border: solid 1px white;
	padding:2px;
*/
	position:relative;
	float:right;
	margin:1px;
	cursor:hand;
	vertical-align:top;
	vertical-align:middle;
}
.BLUE  .MIN IMG
{

	width:20px;
	height:20px;

}

.BLUE_MIN_BAR
{
	BACKGROUND-COLOR:#D0EFFD;
	border:outset 5px;
	border:inset 1px;
	border:solid #7CD2FC 1px;	
	BORDER-COLOR: threedhighlight threedshadow threedshadow threedhighlight ;
	empty-cells: show ;
    border-collapse: collaps;
	position:relative;
	padding:2px;
	border-spacing: 2;
	vertical-align:middle;
	/*top:3px;*/
	white-space: nowrap;
	text-align: center;
	display:inline-block; 
	line-height: 20px;
	position:relative;
	min-width:60px;
	/*
	overflow:hidden;
	white-space:nowrap; 
	text-overflow:ellipsis;
	width:60px;
	*/
    height:20px;
	padding:  2px 5px 2px 5px;
}
.BLUE_MIN_BAR_FOCUS
{
	BACKGROUND-COLOR:#71D0F9;
	border:outset 5px;
	border:inset 1px;
	border:solid #7CD2FC 1px;	
	BORDER-COLOR:  threedshadow threedshadow threedhighlight threedhighlight;
	empty-cells: show ;
    border-collapse: collaps;
	position:relative;
	padding:2px;
	border-spacing: 2;
	vertical-align:middle;
	/*top:3px;*/
	white-space: nowrap;
	text-align: center;
	display:inline-block; 
	line-height: 20px;
	position:relative;
	min-width:60px;
	/*
	overflow:hidden;
	white-space:nowrap; 
	text-overflow:ellipsis;
	width:60px;
	*/
    height:20px;
	padding:  2px 5px 2px 5px;
}
.BLUE_MIN_BAR_FOCUS .TITLE,
.BLUE_MIN_BAR .TITLE
{
	empty-cells: show ;
    border-collapse: collaps;
	top:3px;
	white-space: nowrap;
	text-align: center;
	display:inline-block; 
	min-width:45px;
	cursor:pointer;
}

.BLUE_MIN_BAR_FOCUS .CLOSE,
.BLUE_MIN_BAR .CLOSE
{
	width:18px;
	height:18px;
	empty-cells: show ;
	white-space: nowrap;
	background-repeat: no-repeat;
	font-size:12px;
	color:blue;
	/*font-family:webdings;*/
	cursor:pointer;
}

/* ---- BLUE 样式 ---- */

 


