body {
	font-size: 70%;
	font-family: "ו", "Trebuchet MS", "Arial", "Helvetica", "Verdana", "sans-serif";
}

html{ 
overflow:hidden; 
} 

table {
	font-size: 1em;
}

.demo-description {
	clear: both;
	padding: 12px;
	font-size: 1.2em;
	line-height: 1.4em;
}

.ui-draggable, .ui-droppable {
	background-position: top;
}

div.panel 
{
	BACKGROUND-COLOR:#E7F7FE;
	border:outset 0px;
	border:inset 1px;
	border:1px solid #C4F9FD;	
	BORDER-COLOR:threedhighlight threedshadow threedshadow threedhighlight;
	empty-cells: show ;
    border-collapse: collaps;
	position:relative;
	padding:5px;
	border-spacing: 0;
	vertical-align:middle;
	white-space: nowrap;
    height:100%;
	width:100%;
}
div.panel .container 
{
	BACKGROUND-COLOR:#EDF9FE;
	border:1px solid #C4F9FD;	
	BORDER-COLOR: threedshadow threedshadow threedhighlight threedhighlight;
	empty-cells: show ;
    border-collapse: collaps;
	position:relative;
	padding:5px;
	border-spacing: 0;
	vertical-align:middle;
	white-space: nowrap;
    height:100%;
	width:100%;
}
