body {
	font-size: 70%;
	font-family: "ו", "Trebuchet MS", "Arial", "Helvetica", "Verdana", "sans-serif";
}
html{ 
overflow:hidden; 
} 


TABLE {
CURSOR: default; FONT-SIZE: 12px; MARGIN: 0px
}

div.panel 
{
	BACKGROUND-COLOR:#E7F7FE;
	border:outset 0px;
	border:inset 1px;
	border:1px solid #C4F9FD;	
	BORDER-COLOR:threedhighlight threedshadow threedshadow threedhighlight;
	empty-cells: show ;
    border-collapse: collaps;
	position:relative;
	padding:5px;
	border-spacing: 0;
	vertical-align:middle;
	white-space: nowrap;
}
div.panel .container 
{
	BACKGROUND-COLOR:#EDF9FE;
	border:1px solid #C4F9FD;	
	BORDER-COLOR: threedshadow threedshadow threedhighlight threedhighlight;
	empty-cells: show ;
    border-collapse: collaps;
	position:relative;
	padding:5px;
	border-spacing: 0;
	vertical-align:middle;
	white-space: nowrap;
	
}
.hidenMenuButton
{
	BACKGROUND-COLOR:#E0F8FE;
	padding:2 2 2 2;
	border:solid 1px #E0F8FE;
	COLOR:buttontext;
	CURSOR:pointer ;
	BORDER:1px 1px solid #E0F8FE;
	TEXT-DECORATION:none;
	MARGIN:1px;
	width:25px;
	height:20px;
	text-align:center;
	vertical-align:middle;
	float:left;
	line-height:18px;
}

.hidenMenuButton:hover
{
	BORDER:1px  solid;
	BORDER-COLOR:threedhighlight threedshadow threedshadow threedhighlight;
}

.button
{
	BACKGROUND-COLOR:#B7F4FB;
	height:20px;
	display: inline-block;
	zoom: 1; /* zoom and *display = ie7 hack for display:inline-block */
	*display: inline;
	vertical-align: baseline;
	margin: 0 1px;
	outline: none;
	cursor: pointer;
	text-align: left;
	text-decoration: none;
	font: 12px/100% Arial, Helvetica, sans-serif;
	text-shadow: 0 1px 1px rgba(0,0,0,.3);
	-webkit-border-radius: .3em; 
	-moz-border-radius: .3em;
	border-radius: .3em;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
	border: solid 1px #0076a3;
	background: -webkit-gradient(linear, left top, left bottom, from(#00adee), to(#0078a5));
	background: -moz-linear-gradient(top,  #00adee,  #0078a5);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#00adee', endColorstr='#0078a5');
	min-width:60px;
}
.biground {
	-webkit-border-radius: 2em;
	-moz-border-radius: 2em;
	border-radius: 2em;
}

.menuBar
{
	BACKGROUND-COLOR:#FBE9C3;
	border:solid #F1C5A0 1px;	
	BORDER-COLOR:threedhighlight threedshadow threedshadow threedhighlight;
	empty-cells: show ;
    border-collapse: collaps;
	position:relative;
	padding:0px;
	border-spacing: 0;
	vertical-align:middle;
}
.menuBarButton,
.menuBar.menuBarButton
{
	border:solid #E7F7FE 1px;	
	empty-cells: show ;
	padding:0px 4px;
	margin:0px;
	vertical-align:middle;
	white-space: nowrap;
	text-align: center;
	display:inline-block; 
	line-height: 25px;
	position:relative;

    height:25px;
	min-width:40px;
	max-width:100px;

}
.menuBarButton:hover,
.menuBar.menuBarButton:hover
{
	BORDER:1px  solid;
	BORDER-COLOR:threedhighlight threedshadow threedshadow threedhighlight;
	-webkit-border-radius: .3em; 
	-moz-border-radius: .3em;
	border-radius: .3em;
}
.separator,
.menuBar .separator
{
	BORDER:1px solid;
	BORDER-COLOR:threedshadow threedhighlight threedhighlight threedshadow ;
	width:1px;
	height:20px;
	BACKGROUND-COLOR:#CCEEEE;
	empty-cells: show ;
	margin-left:2px;
	margin-right:2px;
	display:inline-block; 
	line-height: 20px;
	vertical-align:middle;
}
