body ,html

{
	font-size: 0.9em;
	font-family:  "Trebuchet MS", "Arial", "Helvetica", "Verdana", "sans-serif";
	overflow:hidden; 
}
TABLE {
CURSOR: default;  MARGIN: 0px
}
div.page
{
left:0;top:0;width:100%; height:100%;
padding:0px;
}
div.page .container
{
overflow-x:auto;overflow-y:auto;overflow:auto;
padding:0px;
}
div.page .content
{
padding:5px;
}
div.panel,
div.floatpanel 
{
	BACKGROUND-COLOR:#E7F7FE;
	border:outset 0px;
	border:inset 1px;
	border:1px solid #C4F9FD;	
	*BORDER-COLOR: threedshadow threedshadow threedhighlight threedhighlight;
	border:solid 0px;
	empty-cells: show ;
    border-collapse: collaps;
	position:relative;
	padding:5px;
	border-spacing: 0;
	white-space: nowrap;


}
.easyui-accordion div.panel
{
	padding:0px;
}
div.floatpanel 
{
	text-align:center;
}
div.panel .container1 
{
	BACKGROUND-COLOR:#EDF9FE;
	border:1px solid #C4F9FD;	
	*BORDER-COLOR: threedshadow threedshadow threedhighlight threedhighlight;
	border:solid 0px;
	empty-cells: show ;
    border-collapse: collaps;
	position:relative;
	padding:5px;
	border-spacing: 0;
	vertical-align:middle;
	white-space: nowrap;
	
}
.hidenMenuButton
{
	BACKGROUND-COLOR:#E0F8FE;
	padding:2 2 2 2;
	border:solid 1px #E0F8FE;
	COLOR:buttontext;
	CURSOR:pointer ;
	BORDER:1px 1px solid #E0F8FE;
	TEXT-DECORATION:none;
	MARGIN:1px;
	width:25px;
	height:20px;
	text-align:center;
	vertical-align:middle;
	float:left;
	line-height:18px;
}

.hidenMenuButton:hover
{
	BORDER:1px  solid;
	BORDER-COLOR:threedhighlight threedshadow threedshadow threedhighlight;
}


.menuBar
{
	BACKGROUND-COLOR:#FBE9C3;
	border:solid #F1C5A0 1px;	
	BORDER-COLOR:threedhighlight threedshadow threedshadow threedhighlight;
	empty-cells: show ;
    border-collapse: collaps;
	position:relative;
	padding:0px;
	border-spacing: 0;
	vertical-align:middle;
}
.menuBarButton,
.menuBar.menuBarButton
{
	/*border:solid #99CCFF 1px;	*/
	empty-cells: show ;
	padding:0px 4px;
	margin:0px;
	vertical-align:middle;
	white-space: nowrap;
	text-align: center;
	display:inline-block; 
	line-height: 25px;
	position:relative;
	cursor:default;
    height:25px;
	min-width:40px;
	max-width:100px;

}
.menuBarButton:hover,
.menuBar.menuBarButton:hover
{
	BACKGROUND-COLOR:#009999;
	/*
	border:solid #E7F7FE 1px;	
	-webkit-border-radius: .3em; 
	-moz-border-radius: .3em;
	border-radius: .3em;
	*/
}
.separator,
.menuBar .separator
{
	BORDER:1px solid;
	BORDER-COLOR:threedshadow threedhighlight threedhighlight threedshadow ;
	width:1px;
	height:20px;
	BACKGROUND-COLOR:#CCEEEE;
	empty-cells: show ;
	margin-left:2px;
	margin-right:2px;
	display:inline-block; 
	line-height: 20px;
	vertical-align:middle;
}

input,
input[type=text],
input[type=password],
input[type=file],
input[type=file]:hover,
select
{
	BORDER:1px solid;
	padding:1px 8px;
	border-color: #66CCFF; 
	background: #FFFFFF;
	-webkit-border-radius: .3em; 
	-moz-border-radius: .3em;
	border-radius: .3em;
}
input[type=text],
input[type=password]
{
	#height:16px;
	width:140px;
}
select
{
	#height:20px;
	width:140px;
}
input:hover,
select:hover
{
	border:solid 1px  #FF6666; 
	background: #FFFFFF;
}
input[type=checkbox],
input[type=radio]
{
	#height:12px;
	border: 1px solid white; 
	background:transparent;
}
input.disabled
{
	background-color: #C3C3C3;
	color: black;
	padding:1px 8px;
	border-color:solid ipx #66CCFF; 
	filter:alpha(opacity=40); /*IE*/
	-moz-opacity:0.4; /*Firefox*/
	opacity:0.4;
	border-radius: .3em;
	-webkit-border-radius: .3em; 
	-moz-border-radius: .3em;
	border-radius: .3em;

}

.button
{
	BORDER:1px solid #66CCFF;
	background: #FFFFFF;
	height:20px;
	display: inline-block;
	vertical-align: baseline;
	margin-left:1px;
	outline: none;
	cursor: pointer;
	text-align: left;
	text-decoration: none;
	-webkit-border-radius: .3em; 
	-moz-border-radius: .3em;
	border-radius: .3em;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
	border: solid 1px #66CCFF;
	background: -webkit-gradient(linear, left top, left bottom, from(#00adee), to(#0078a5));
	background: -moz-linear-gradient(top,  #00adee,  #0078a5);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#00adee', endColorstr='#0078a5');
}
.biground 
{
	BORDER:1px solid #66CCFF;
	background: #FFFFFF;
	height:20px;
	-webkit-border-radius: 2em;
	-moz-border-radius: 2em;
	border-radius: 2em;
}

p
{
	BACKGROUND-COLOR:#F7FFFF;
	border:outset 0px;
	border:inset 1px;
	border:1px dashed #E0F4FE;	
	#BORDER-COLOR:threedhighlight threedshadow threedshadow threedhighlight;
	empty-cells: show ;
    border-collapse: collaps;
	position:relative;
	padding:2px;
	margin:0px;
	border-spacing: 0;
	vertical-align:middle;
	white-space: nowrap;
}
span.wwgrp
{
	border:solid 0px blue;
}
.label,
span.wwlbl,
span.wwctrl
{
	display:inline-block;
	border:solid 0px red;
}
.label,
span.wwlbl
{
	width:150px;
	text-align:right;
}
.errorMessage
{
	color:red;
	*font-size:12px;
	font-style:italic;

}

/*JQuery UI Theme*/
.accordion,
.tabs
{
	font-size: 90%;
}
.tabs,
.tabs ul
{
	-webkit-border-radius: 0em; 
	-moz-border-radius: 0em;
	border-radius: 0em;
	border:0px;
	border-bottom:solid 1px #99CCFF;
	background:transparent;
}
.tabs
{
	padding:0px;
	border-bottom:solid 0px #99CCFF;
}
.tabs .ui-tabs-panel
{
	padding:0px;
	height:100%;
	width:100%;
}

/** for Alert and Confirm dialog **/
	 div.alert { 
	 display:table;  
	 position:absolute; 
	 vertical-align:middle; 
	 height:99%;
	 width:99%;
 } 
  div.alert .ico
  {
	  position:absolute;
	  display:table;
	  width: 100px;
	  height: 99%;
  }
 div.alert .wrap { 
	 position:absolute; 
	 display:table-cell; 
	 vertical-align:middle;
	 left:104px;
	 padding:10px;
	 overflow-x:auto;
	 overflow-y:auto;
	 overflow:auto;

 } 
