<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/wap</property>
        <property name="hibernate.connection.username">cqwap</property>
        <property name="hibernate.connection.password">cqwap</property>
	<!--
        <property name="hibernate.dialect">org.hibernate.dialect.Oracle9Dialect</property>
        <property name="hibernate.connection.driver_class">oracle.jdbc.xa.client.OracleXADataSource</property>
        <property name="hibernate.connection.url">jdbc:oracle:thin:@localhost:1521:XE</property>
        <property name="hibernate.connection.username">xwohi</property>
        <property name="hibernate.connection.password">xwohi</property>
		-->
        <property name="hibernate.connection.pool.size">10</property>
        <property name="hibernate.show_sql">true</property>
		<property name="jdbc.fetch_size">50</property>
		<property name="jdbc.batch_size">25</property>
		<property name="hibernate.bytecode.use_reflection_optimizer">false</property>
		<property name="javax.persistence.validation.mode">none</property>
<!--

<property name="hibernate.transaction.factory_class">net.sf.hibernate.transaction.JDBCTransactionFactory </property>

<property name="jta.UserTransaction">
java:comp/UserTransaction
</property>
//-->
        <!-- Mapping files -->
		<!--
		<mapping resource="com/lohool/jproject/xwohi/operator/po/Operator.hbm.xml"/>
		<mapping resource="com/lohool/jproject/xwohi/operator/po/Privilege.hbm.xml"/>
		<mapping resource="com/lohool/jproject/xwohi/operator/po/Resource.hbm.xml"/>
		<mapping resource="com/lohool/jproject/xwohi/operator/po/Role.hbm.xml"/>

		<mapping resource="com/lohool/jproject/xwohi/po/Job.hbm.xml"/>
		<mapping resource="com/lohool/jproject/xwohi/po/Department.hbm.xml"/>

-->
	<mapping class="com.lohool.jproject.xwohi.operator.po.Operator" />
	<mapping class="com.lohool.jproject.xwohi.operator.po.Role" />
	<mapping class="com.lohool.jproject.xwohi.operator.po.Resource" />
	<mapping class="com.lohool.jproject.xwohi.operator.po.Privilege" />
	<mapping class="com.lohool.jproject.xwohi.operator.po.DataGroupPermission" />
	<mapping class="com.lohool.jproject.xwohi.operator.po.Permission" />
	<mapping class="com.lohool.jproject.xwohi.operator.po.DataGroup" />
	<mapping class="com.lohool.jproject.xwohi.po.Department" />
	<mapping class="com.lohool.jproject.xwohi.po.Job" />

    </session-factory>

</hibernate-configuration>
