/*datagrid*/
.datagrid_wraper
{
	border:solid 0px red;
	height:100%;
	width:100%;
}
.treegrid, 
.datagrid 
{
	position:relative;/** must be relative*/
	background-color:white;
	margin:0px;/** must be zero*/
	padding:0px;/** must be zero*/
	overflow:hidden;
	border:solid 0px  red;/** must be zero*/
	-moz-user-select:none;
}
/*
.datagrid div .title{
	background:url('images/datagrid_title_bg.png') repeat-x;
	border-bottom:1px dotted #8DB2E3;
	border-top:1px dotted #fff;
	position:relative;
	padding:5px 0px;
}
.datagrid-toolbar{
	height:28px;
	background:#efefef;
	padding:1px 2px;
	border-bottom:1px dotted #ccc;
}
.datagrid-btn-separator{
	float:left;
	height:24px;
	border-left:1px dotted #ccc;
	border-right:1px dotted #fff;
	margin:2px 1px;
}
*/
.treegrid .datapanel,
.datagrid .datapanel
{
	position:relative;
	background:white;
	margin:0px;
	padding:0px;
	overflow:hidden;
	border:solid 0px  #8EDEFD;
	-moz-user-select:none;
	top:0px;
}

/*datagrid 表格全局样式 Download by http://down.liehuo.net */
.treegrid table, 
.datagrid table 
{
table-layout:fixed;
margin:0px;
}
.treegrid table td, 
.datagrid table td 
{
	cursor:default;
	font-family:verdana;
	text-indent:2px;
	border-right:1px dotted buttonface;
	border-bottom:1px dotted buttonface;
	white-space:nowrap;
	word-break:keep-all;
	overflow: hidden;
	-o-text-overflow: ellipsis; 
	text-overflow: ellipsis; 
	height:20px;
}
.treegrid table td .arrow, 
.datagrid table td .arrow 
{
font-size:8px;
color:#808080;
}
.treegrid table .lastdata, 
.datagrid table .lastdata 
{
	border-right:none;
}

.treegrid table .title,
.treegrid table .column,
.treegrid table .checkbox-column,
.treegrid table .title .over, 
.treegrid table .firstcolumn, 
.treegrid table .sortdown, 
.treegrid table .lastcolumn, 
.datagrid table .title,
.datagrid table .column,
.datagrid table .checkbox-column,
.datagrid table .title .over, 
.datagrid table .firstcolumn, 
.datagrid table .sortdown, 
.datagrid table .lastcolumn 
{
	cursor:default;
	background:#EBF3FD;
	border-top:0px solid #404040;
	border-right:1px dotted #404040;
	border-bottom:1px solid #cccccc;
	border-left:0px dotted #404040;
	text-align:center;
	padding:0;
	text-indent:0;
	text-align:center;
}
.treegrid table .checkboxColumn,
.datagrid table .checkboxColumn
{
	width:30px;
	text-align:center;
	padding:0;
	text-indent:0;
	text-align:center;
	background-color:white;
}
.treegrid table .title .over, 
.datagrid table .title .over 
{

	cursor:default;
	background:#fafafa;
	text-indent:0;
	text-align:center;
}
.treegrid table .firstcolumn, 
.datagrid table .firstcolumn 
{
	width:30px;
	text-indent:0px;
	border-left:0px dotted #404040;
}
.treegrid table .lastcolumn, 
.datagrid table .lastcolumn 
{
	border-right:0px dotted #404040;
}


.treegrid table .sortdown, 
.datagrid table .sortdown 
{
	cursor:default;
	position:relative;
	text-indent:0;
	text-align:center;
}
.treegrid table .dataover ,
.datagrid table .dataover 
{
	background:#FAFAFA;
}
/*datagrid 选定行样式*/
.treegrid table .selectedrow, 
.datagrid table .selectedrow 
{
	background:#AED7FF;
	color:blue;
}
/*datagrid 表头样式*/
.treegrid .titlecolumn ,
.datagrid .titlecolumn 
{
	width:100%;
	position:absolute;
	top:0px;
	left:0px;
	z-index:3;
}
.treegrid .titlecolumn_mask, 
.datagrid .titlecolumn_mask 
{
	BACKGROUND-COLOR:#EBF3FD;
	width:17px;
	border:0px;
	position:absolute;
	top:0px;
	right:0px;
	z-index:3;
	display:inline-block;
	#border-left:dotted 1px #ccc;
	border-bottom:solid 1px #ccc;
	BORDER-COLOR:0 0 threedshadow 0;
}
/*datagrid 左边栏样式*/
.treegrid .slidecolumn, 
.datagrid .slidecolumn 
{
	width:30px;
	position:absolute;
	top:0px;
	left:0px;
	z-index:2;
}
.treegrid .slidecolumn td ,
.datagrid .slidecolumn td 
{
	width:30px;
	text-indent:0px;
	text-align:center;
	background:#EBF3FD;
	border-top:1px dotted #fff;
	border-right:1px dotted #404040;
	border-bottom:1px dotted #404040;
	border-left:1px dotted #fff;
}
/*datagrid 内容表体样式*/
.treegrid .datacolumn, 
.datagrid .datacolumn 
{
width:100%;
#position:absolute;
top:0px;
left:0px;
}
.treegrid .datacolumn tbody .over, 
.datagrid .datacolumn tbody .over 
{
	background:#D0E5F5;
}

/*datagrid 原点样式*/
.treegrid .zero ,
.datagrid .zero 
{
width:30px;
height:18px;
margin:0px;
padding:0px;
position:absolute;
top:0px;
left:0px;
z-index:10;
background:#EBF3FD;
border-top:1px dotted #fff;
border-right:1px dotted #404040;
border-bottom:1px dotted #404040;
border-left:1px dotted #fff;
text-align:center;
font-size:10px;
color:#A19F92;
}


.treegrid .toolbar,
.datagrid .toolbar
{
	BACKGROUND-COLOR: #EBF3FD;
	border:solid 1px #CEEFFF ;	
	/*BORDER-COLOR:threedhighlight threedshadow threedshadow threedhighlight;*/
	empty-cells: show ;
    border-collapse: collaps;
	position:relative;
	padding:0px;
	border-spacing: 0;
	vertical-align:middle;
	white-space: nowrap;
	width:100%;
	height:32px;
	z-index:10;

}
.treegrid .toolbar .Separator,
.datagrid .toolbar .Separator
{
	float:left;
	height:26px;
	border-left:1px dotted #ccc;
	border-right:1px dotted #fff;
	margin:2px 1px;
	width:1px;
	margin:0 2 0 2;
}
.treegrid .toolbar .Home,
.treegrid .toolbar .Full_page,
.treegrid .toolbar .Refresh,
.treegrid .toolbar .Edit,
.treegrid .toolbar .Add,
.treegrid .toolbar .Remove,
.treegrid .toolbar .Delete,
.treegrid .toolbar .Save,
.treegrid .toolbar .Reset,
.treegrid .toolbar .Find,
.treegrid .toolbar .Printer,
.treegrid .toolbar .Help,
.datagrid .toolbar .Home,
.datagrid .toolbar .Full_page,
.datagrid .toolbar .Refresh,
.datagrid .toolbar .Edit,
.datagrid .toolbar .Add,
.datagrid .toolbar .Remove,
.datagrid .toolbar .Delete,
.datagrid .toolbar .Save,
.datagrid .toolbar .Reset,
.datagrid .toolbar .Find,
.datagrid .toolbar .Printer,
.datagrid .toolbar .Help
{
	padding:0px;
	BACKGROUND-COLOR: #EBF3FD;
	border:solid 1px #E0F8FE;
	COLOR:buttontext;
	CURSOR:hand;
	BORDER:1px 1px solid #E0F8FE;
	TEXT-DECORATION:none;
	MARGIN:1px;
	min-width:24px;
	height:24px;
	text-align:center;
	vertical-align:middle;
	float:left;
	line-height:24px;
}

.treegrid .toolbar .Home:hover,
.treegrid .toolbar .Full_page:hover,
.treegrid .toolbar .Refresh:hover,
.treegrid .toolbar .Edit:hover,
.treegrid .toolbar .Add:hover,
.treegrid .toolbar .Remove:hover,
.treegrid .toolbar .Delete:hover,
.treegrid .toolbar .Save:hover,
.treegrid .toolbar .Reset:hover,
.treegrid .toolbar .Find:hover,
.treegrid .toolbar .Printer:hover,
.treegrid .toolbar .Help:hover,
.treegrid .toolbar span:hover,
.datagrid .toolbar .Home:hover,
.datagrid .toolbar .Full_page:hover,
.datagrid .toolbar .Refresh:hover,
.datagrid .toolbar .Edit:hover,
.datagrid .toolbar .Add:hover,
.datagrid .toolbar .Remove:hover,
.datagrid .toolbar .Delete:hover,
.datagrid .toolbar .Save:hover,
.datagrid .toolbar .Reset:hover,
.datagrid .toolbar .Find:hover,
.datagrid .toolbar .Printer:hover,
.datagrid .toolbar .Help:hover,
.datagrid .toolbar span:hover
{
	BORDER:1px  solid;
	BORDER-COLOR:threedhighlight threedshadow threedshadow threedhighlight;
}
.treegrid .toolbar span,
.datagrid .toolbar span
{
	BACKGROUND-COLOR: #EBF3FD;
	padding:0px 2px;
	border:solid 1px #E0F8FE;
	COLOR:buttontext;
	CURSOR:hand;
	BORDER:1px 1px solid #E0F8FE;
	TEXT-DECORATION:none;
	MARGIN:1px;
	height:24px;
	text-align:center;
	vertical-align:middle;
	float:left;
	line-height:24px;
	cursor:default;
}
.treegrid .toolbar span.default,
.datagrid .toolbar span.default
{
	padding-left:4px;
	padding-right:4px;
}
.treegrid .toolbar span.ico,
.datagrid .toolbar span.ico
{
}
.treegrid .toolbar .display_text,
.datagrid .toolbar .display_text
{
	padding-left:26px;
	padding-right:2px;
}

.treegrid .toolbar .Refresh,
.datagrid .toolbar .Refresh
{
	background:url('../../../images/blue_round/refresh.png') no-repeat;
}
.treegrid .toolbar .Edit,
.datagrid .toolbar .Edit
{
	background:url('../../../images/blue_round/edit.png') no-repeat;
}
.treegrid .toolbar .Add,
.datagrid .toolbar .Add
{
	background:url('../../../images/blue_round/add.png') no-repeat;
}
.treegrid .toolbar .Remove,
.datagrid .toolbar .Remove
{
	background:url('../../../images/blue_round/remove.png') no-repeat;
}
.treegrid .toolbar .Delete,
.datagrid .toolbar .Delete
{
	background:url('../../../images/blue_round/trash.png') no-repeat;
}
.treegrid .toolbar .Home,
.datagrid .toolbar .Home
{
	background:url('../../../images/blue_round/home.png') no-repeat;
}
.treegrid .toolbar .Full_page,
.datagrid .toolbar .Full_page
{
	background:url('../../../images/blue_round/full_page.png') no-repeat;
}
.treegrid .toolbar .Save,
.datagrid .toolbar .Save
{
	background:url('../../../images/blue_round/save.png') no-repeat;
}
.treegrid .toolbar .Reset,
.datagrid .toolbar .Reset
{
	background:url('../../../images/blue_round/reset.png') no-repeat;
}
.treegrid .toolbar .Find,
.datagrid .toolbar .Find
{
	background:url('../../../images/blue_round/find.png') no-repeat;
}
.treegrid .toolbar .Printer,
.datagrid .toolbar .Printer
{
	background:url('../../../images/blue_round/printer.png') no-repeat;
}
.treegrid .toolbar .Help,
.datagrid .toolbar .Help
{
	background:url('../../../images/blue_round/help.png') no-repeat;
}
.treegrid .toolbar .Help,
.datagrid .toolbar .Help
{
	background:url('../../../images/blue_round/help.png') no-repeat;
}

.treegrid .toolbar span.disabled,
.datagrid .toolbar span.disabled,
.treegrid .toolbar span.disabled:hover,
.datagrid .toolbar span.disabled:hover
{
	background-color: #C3C3C3;
	color:black;
	border:solid 1px #E0F8FE;
	border-color:solid ipx #66CCFF; 
	TEXT-DECORATION:none;
	MARGIN:1px;
	height:24px;
	text-align:center;
	vertical-align:middle;
	float:left;
	line-height:24px;
	cursor:default;
	filter:alpha(opacity=40); /*IE*/
	-moz-opacity:0.4; /*Firefox*/
	opacity:0.4;
}
