/*datagrid*/
.datagrid_wraper
{
	border:solid 0px red;
	height:100%;
	width:100%;
}
.datagrid 
{
	position:relative;/** must be relative*/
	background-color:white;
	margin:0px;/** must be zero*/
	padding:0px;/** must be zero*/
	overflow:hidden;
	border:solid 0px  red;/** must be zero*/
	-moz-user-select:none;
}
/*
.datagrid div .title{
	background:url('images/datagrid_title_bg.png') repeat-x;
	border-bottom:1px dotted #8DB2E3;
	border-top:1px dotted #fff;
	position:relative;
	padding:5px 0px;
}
.datagrid-toolbar{
	height:28px;
	background:#efefef;
	padding:1px 2px;
	border-bottom:1px dotted #ccc;
}
.datagrid-btn-separator{
	float:left;
	height:24px;
	border-left:1px dotted #ccc;
	border-right:1px dotted #fff;
	margin:2px 1px;
}
*/
.datagrid .datapanel
{
	position:relative;
	background:white;
	margin:0px;
	padding:0px;
	overflow:hidden;
	border:solid 0px  #8EDEFD;
	-moz-user-select:none;
	top:0px;
}

/*datagrid 表格全局样式 Download by http://down.liehuo.net */
.datagrid table 
{
table-layout:fixed;
margin:0px;
}
.datagrid table td 
{
	cursor:default;
	font-family:verdana;
	text-indent:2px;
	border-right:1px dotted buttonface;
	border-bottom:1px dotted buttonface;
	white-space:nowrap;
	word-break:keep-all;
	overflow: hidden;
	-o-text-overflow: ellipsis; 
	text-overflow: ellipsis; 
	height:20px;
}
.datagrid table td .arrow 
{
font-size:8px;
color:#808080;
}
.datagrid table .lastdata 
{
	border-right:none;
}

.datagrid table .title,
.datagrid table .column,
.datagrid table .title .over, 
.datagrid table .firstcolumn, 
.datagrid table .sortdown, 
.datagrid table .lastcolumn 
{
	cursor:default;
	background:#EBF3FD;
	border-top:0px solid #404040;
	border-right:1px dotted #404040;
	border-bottom:1px solid #cccccc;
	border-left:0px dotted #404040;
	text-align:center;
	padding:0;
	text-indent:0;
	text-align:center;
	height:30px;
}
.datagrid table .checkboxColumn
{
	width:30px;
	text-align:center;
	padding:0;
	text-indent:0;
	text-align:center;
	background-color:white;
}
.datagrid table .title .over 
{

	cursor:default;
	background:#fafafa;
	text-indent:0;
	text-align:center;
}
.datagrid table .firstcolumn 
{
	width:30px;
	text-indent:0px;
	border-left:0px dotted #404040;
}
.datagrid table .lastcolumn 
{
	border-right:0px dotted #404040;
}


.datagrid table .sortdown 
{
	cursor:default;
	position:relative;
	text-indent:0;
	text-align:center;
}
.datagrid table .dataover 
{
	background:#FAFAFA;
}
/*datagrid 选定行样式*/
.datagrid table .selectedrow 
{
	background:#AED7FF;
	color:blue;
}
/*datagrid 表头样式*/
.datagrid .titlecolumn 
{
	width:100%;
	position:absolute;
	top:0px;
	left:0px;
	z-index:3;
}
.datagrid .titlecolumn_mask 
{
	BACKGROUND-COLOR:#EBF3FD;
	width:17px;
	border:0px;
	position:absolute;
	top:0px;
	right:0px;
	z-index:3;
	display:inline-block;
	#border-left:dotted 1px #ccc;
	border-bottom:solid 1px #ccc;
	BORDER-COLOR:0 0 threedshadow 0;
}
/*datagrid 左边栏样式*/
.datagrid .slidecolumn 
{
	width:30px;
	position:absolute;
	top:0px;
	left:0px;
	z-index:2;
}
.datagrid .slidecolumn td 
{
	width:30px;
	text-indent:0px;
	text-align:center;
	background:#EBF3FD;
	border-top:1px dotted #fff;
	border-right:1px dotted #404040;
	border-bottom:1px dotted #404040;
	border-left:1px dotted #fff;
}
/*datagrid 内容表体样式*/
.datagrid .datacolumn 
{
width:100%;
#position:absolute;
top:0px;
left:0px;
}
.datagrid .datacolumn tbody .over 
{
	background:#D0E5F5;
}

/*datagrid 原点样式*/
.datagrid .zero 
{
width:30px;
height:18px;
margin:0px;
padding:0px;
position:absolute;
top:0px;
left:0px;
z-index:10;
background:#EBF3FD;
border-top:1px dotted #fff;
border-right:1px dotted #404040;
border-bottom:1px dotted #404040;
border-left:1px dotted #fff;
text-align:center;
font-size:10px;
color:#A19F92;
}


.datagrid .toolbar
{
	BACKGROUND-COLOR: #EBF3FD;
	border:solid 1px #CEEFFF ;	
	/*BORDER-COLOR:threedhighlight threedshadow threedshadow threedhighlight;*/
	empty-cells: show ;
    border-collapse: collaps;
	position:relative;
	padding:0px;
	border-spacing: 0;
	vertical-align:middle;
	white-space: nowrap;
	width:100%;
	height:32px;
	z-index:10;

}
.datagrid .toolbar .Separator{
	float:left;
	height:26px;
	border-left:1px dotted #ccc;
	border-right:1px dotted #fff;
	margin:2px 1px;
	width:1px;
	margin:0 2 0 2;
}
.datagrid .toolbar .Home,
.datagrid .toolbar .Full_page,
.datagrid .toolbar .Refresh,
.datagrid .toolbar .Edit,
.datagrid .toolbar .Add,
.datagrid .toolbar .Remove,
.datagrid .toolbar .Delete,
.datagrid .toolbar .Save,
.datagrid .toolbar .Reset,
.datagrid .toolbar .Find,
.datagrid .toolbar .Printer,
.datagrid .toolbar .Help
{
	padding:0px;
	BACKGROUND-COLOR: #EBF3FD;
	border:solid 1px #E0F8FE;
	COLOR:buttontext;
	CURSOR:hand;
	BORDER:1px 1px solid #E0F8FE;
	TEXT-DECORATION:none;
	MARGIN:1px;
	min-width:24px;
	height:24px;
	text-align:center;
	vertical-align:middle;
	float:left;
	line-height:24px;
}

.datagrid .toolbar .Home:hover,
.datagrid .toolbar .Full_page:hover,
.datagrid .toolbar .Refresh:hover,
.datagrid .toolbar .Edit:hover,
.datagrid .toolbar .Add:hover,
.datagrid .toolbar .Remove:hover,
.datagrid .toolbar .Delete:hover,
.datagrid .toolbar .Save:hover,
.datagrid .toolbar .Reset:hover,
.datagrid .toolbar .Find:hover,
.datagrid .toolbar .Printer:hover,
.datagrid .toolbar .Help:hover,
.datagrid .toolbar span:hover
{
	BORDER:1px  solid;
	BORDER-COLOR:threedhighlight threedshadow threedshadow threedhighlight;
}
.datagrid .toolbar span
{
	BACKGROUND-COLOR: #EBF3FD;
	padding:0px 2px;
	border:solid 1px #E0F8FE;
	COLOR:buttontext;
	CURSOR:hand;
	BORDER:1px 1px solid #E0F8FE;
	TEXT-DECORATION:none;
	MARGIN:1px;
	height:24px;
	text-align:center;
	vertical-align:middle;
	float:left;
	line-height:24px;
	cursor:default;
}
.datagrid .toolbar .display_text
{
	padding-left:26px;
	padding-right:2px;
}

.datagrid .toolbar .Refresh
{
	background:url('../../../images/blue_round/refresh.png') no-repeat;
}
.datagrid .toolbar .Edit
{
	background:url('../../../images/blue_round/edit.png') no-repeat;
}
.datagrid .toolbar .Add
{
	background:url('../../../images/blue_round/add.png') no-repeat;
}
.datagrid .toolbar .Remove
{
	background:url('../../../images/blue_round/remove.png') no-repeat;
}
.datagrid .toolbar .Delete
{
	background:url('../../../images/blue_round/trash.png') no-repeat;
}
.datagrid .toolbar .Home
{
	background:url('../../../images/blue_round/home.png') no-repeat;
}
.datagrid .toolbar .Full_page
{
	background:url('../../../images/blue_round/full_page.png') no-repeat;
}
.datagrid .toolbar .Save
{
	background:url('../../../images/blue_round/save.png') no-repeat;
}
.datagrid .toolbar .Reset
{
	background:url('../../../images/blue_round/reset.png') no-repeat;
}
.datagrid .toolbar .Find
{
	background:url('../../../images/blue_round/find.png') no-repeat;
}
.datagrid .toolbar .Printer
{
	background:url('../../../images/blue_round/printer.png') no-repeat;
}
.datagrid .toolbar .Help
{
	background:url('../../../images/blue_round/help.png') no-repeat;
}